# Bootstrap
app/bootstrap*

# Symfony directories
build/*
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.yml

# IDE
.idea

# Tools
composer.phar

# Coverage
coverage/*
